<div class="video-container">
  <div id="video_cover"></div>
  <video id='myVideo' autoplay muted loop #bgVideo>
    <source src="https://cdn.discordapp.com/attachments/1119378009103806504/1162204933760753755/solitude.mp4?ex=653b16b0&is=6528a1b0&hm=f1870f8c3956f81c2397de3f299d39351ec2afa819a30ec7b76797f41372cddf&" type="video/mp4">
  </video>

  <div class="video-overlay"></div>
</div>

<div class="container-info">


  <i class='iconVolume text-white bx bxs-volume-mute bx-tada bx-flip-vertical' #iconVolume (click)="toggleMute()"></i>


<app-card-profile></app-card-profile>

</div> 



